-- Replace secrets locally; do not commit the resulting script. Run with the RDS master user.
CREATE USER P360_CATALOG IDENTIFIED BY "REPLACE_CATALOG_PASSWORD";
CREATE USER P360_ORDERS IDENTIFIED BY "REPLACE_ORDERS_PASSWORD";
CREATE USER P360_AUDIT IDENTIFIED BY "REPLACE_AUDIT_PASSWORD";
CREATE USER P360_REPORT IDENTIFIED BY "REPLACE_REPORT_PASSWORD";
GRANT CREATE SESSION, CREATE TABLE TO P360_CATALOG, P360_ORDERS, P360_AUDIT, P360_REPORT;
ALTER USER P360_CATALOG QUOTA 200M ON USERS;
ALTER USER P360_ORDERS QUOTA 500M ON USERS;
ALTER USER P360_AUDIT QUOTA 500M ON USERS;
ALTER USER P360_REPORT QUOTA 200M ON USERS;
