ENTRA_ISSUER_URI=https://login.microsoftonline.com/TU_TENANT_ID/v2.0
ENTRA_API_CLIENT_ID=TU_API_CLIENT_ID
MS_CLIENTES_BASE_URL=http://ms-clientes:8081
MS_CATALOGO_BASE_URL=http://ms-pedidos360-catalogo:8082
